*{
  margin: 0;
  font-family:cursive;
}
body{
  background-color: gray;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1{
  margin: 20px;
}
div{
  background-color: white;
  display: inline-block;
  width: 150px;
  height: 30px;
  border: 3px solid black;
}
#section-5 div{
  background-color: cornflowerblue;
  width: 300px;
  height: 25px;
}